
body{
    background-image: url(fondo.jpg);
}

#portada{

    padding-bottom: 10px;
    margin-bottom: 30px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

#product{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 150px;
    background-color: rgb(255, 255, 255);

}

#lujo{
    border: 3px solid #ddd;
    border-radius: 4px;
    background-color: rgba(238, 238, 238, 0.527);
    padding: 4px;
    display:flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 220px;
    margin-right: 220px;
}
#config {
    display: flex;
    width: 500px;
    height: 160px;
}
  
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font: small-caps 100%/200% serif;
    font-size: 140%;
    border: 3px solid #ddd;
    border-radius: 8px;
    background: linear-gradient(70deg,  rgba(182, 12, 140, 0.589), rgb(13, 206, 110));
    margin-left: 240px;
    margin-right: 240px;
    
}

.Info{
    text-align: center;
    font: small-caps 100%/200% serif;
    font-size: 110%;
}

#Contact{
    width: 40px;
}

#pag_principal{
    text-align: left;
    font: small-caps 100%/200% serif;
    font-size: 160%;
    margin-left: 50px;
    margin-right: 1180px;
}
#enlace{
    color: rgb(0, 0, 0);
}

#log{
    width: 45px;
    align-items: right;
    margin-right: 20px;
}
#carro{
    width: 40px;
    align-items: right;
}
#login{
    display: flex;
    margin: 30px;
}

#boton{
    border-radius: 8px;
    color: blanco;
    padding: 15px 32px;
    text-align: center;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;

} 