
body{
    background-image: url(fondo.jpg);
}

#portada{
    padding-top: 20px;
    padding-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

#product{
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    width: 150px;
    background-color: rgb(255, 255, 255);

}

#lujo{
    border: 3px solid #ddd;
    border-radius: 4px;
    background-color: rgba(238, 238, 238, 0.527);
    padding: 4px;
    display:flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 220px;
    margin-right: 220px;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    font: small-caps 100%/200% serif;
    font-size: 140%;
    border: 3px solid #ddd;
    border-radius: 8px;
    background: linear-gradient(70deg,  rgba(182, 12, 140, 0.589), rgb(13, 206, 110));
    margin-left: 240px;
    margin-right: 240px;
    
}