
@font-face {
  font-family: "phoenix";
  src: url(Phoenix.ttf);
}

@font-face {
  font-family: "letra";
  src: url(public/letra.ttf);
}

body{
  background-image: url(public/fondo3.jpg);
  background-size: cover;
  text-align: center;
}

h1{
  font-family: "letra";
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
}

h2{
  font-family: "phoenix";
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
#dcha{
  float:right;
  width: 37%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.701);
  border:solid rgba(244, 181, 255, 0.879) 6px;
  height: 500px;
  text-align: left;
  overflow: auto;
  margin-bottom: 15px;
}
#izda{
  float:left;
  width: 52%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.701);
  border:solid rgba(244, 181, 255, 0.879) 6px;
  height: 600px;
  overflow: auto;
  margin-bottom: 15px;
}
#display{
  border: solid 5px;
  border-color: rgba(180, 131, 190, 0.584);
  background-color: white;
  padding:10px;
  font-family: "message";
  width: 400px;
  height: 250px;
  overflow: auto;
  text-align: center;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-left: 25px;
}
ul{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
}